@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
* {
    z-index: 0;
}
body {
    padding: 50px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fcfaea;
    font-weight: 300;
    background-color: #262626 !important;
}
ul {
    list-style: square;
    color: #f51a6a;
}
p {
    margin: 0 0 20px;
}
a {
    color: #a9a9a9;
    font-weight: 400;
    text-decoration: none;
    z-index: 2;
}
a:hover {
    border-bottom: dotted 0.5px;
}
li > a {
    color: #fcfaea;
}
li > a:visited {
    color: #a9a9a9;
}
footer {
    width: 270px;
    float: left;
    position: fixed;
    line-height: 20%;
    margin-left: 21em;
    bottom: 50px;
    text-align: center;
}

/* Credits - http://stackoverflow.com/a/6182661/1383051 */
div.frameT {
    width: 100%;
    padding: 0;
    display: table;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

/* Credits - http://stackoverflow.com/a/6182661/1383051 */
div.frameTC {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

div.content {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 32px;
    color: #4c4c4c;
    opacity: 1;
    -o-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -khtml-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
div.contentInvisible {
    opacity: 0;
}

/* Credits - http://tympanus.net/Tutorials/CustomFileInputs/ */
svg {
    fill: currentColor;
    padding-right: 0.8em;
}
.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputFile + label {
    display: inline-block;
    color: #fcfaea;
    background-color: #464646;
    max-width: 80%;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -khtml-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
.inputFile:focus + label,
.inputFile + label:hover {
    background-color: #f51a6a;
}
.wrapper {
    width: 860px;
    margin: 0 auto;
}
.text {
    margin: 0;
    font-size: 90%;
}
/* Credits - http://codepen.io/CesarGabriel/pen/nLhAa */

.gearbitInfo {
    padding-bottom: 0.6em;
    margin: 0 auto;
    font-size: 0.5em;
}
.gearbitInfo input {
    visibility: hidden;
}
.gearbitInfo label {
    background: #464646;
    color: #fcfaea;
    cursor: pointer;
    display: block;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    margin-right: .25em;
    padding: 0 1.5em;
    text-align: center;
}
.gearbitInfo input + label {
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -khtml-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
.gearbitInfo input:hover + label {
    background: #f51a6a;
    color: #fcfaea;
}
.gearbitInfo input:checked + label {
    background: #f51a6a;
    color: #fcfaea;
    position: relative;
    z-index: 6;
}
#content {
    border-top: #f51a6a;
    border-top-style: solid;
    background: #464646;
    color: #fcfaea;
    height: 30em;
    overflow-x: auto;
    margin-top: 1em;
    position: relative;
    width: 100%;
    z-index: 5;
}
#content div {
    opacity: 0;
    padding: 1.5em;
    position: absolute;
    z-index: -100;
    transition: all linear 0.1s;
}
.gearbitInfo input#centralTownTab:checked ~ #content #centralTownContent,
.gearbitInfo input#northTab:checked ~ #content #northContent,
.gearbitInfo input#southTab:checked ~ #content #southContent,
.gearbitInfo input#eastTab:checked ~ #content #eastContent,
.gearbitInfo input#westTab:checked ~ #content #westContent {
    opacity: 1;
    z-index: 100;
}
.gearbitInfo input.visible {
    visibility: visible !important;
}
#allCollectedP {
    color: #fcfaea;
}
#saveFileLocation {
    font-size: 0.5em;
    position: relative;
}
#saveFileLocationTooltip {
    opacity: 0;
    margin-left: 9em;
    color: #fcfaea;
    position: absolute;
    top: 4em;
    line-height: 0.5em;
    -o-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -khtml-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
@media print,
screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }
    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }
    header {
        padding-right: 320px;
    }
    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }
    header a small {
        display: inline;
    }
    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}
@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
    header {
        padding: 0;
    }
    header ul,
    header p.view {
        position: static;
    }
    pre,
    code {
        word-wrap: normal;
    }
}
@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
    header ul {
        display: none;
    }
}
@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}
